# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# MLflow
mlruns/
mlartifacts/

# Models
models/*.pkl
models/*.joblib
models/*.json

# Data (large files)
data/*.rpt
data/*.csv

# macOS
.DS_Store

# IDE
.vscode/
.idea/
